body{
    margin:1px;
    overflow: hidden;
    background-color: black;
}
div.Menu{
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 95%;
    top: -100%;
    font-family: 'Roboto';
}
div.Menu ul{
    position: relative;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    font-size: 50px;
    color:white;
}
div.Menu ul li a{
    color:white;
    text-decoration: none;
}
div.Menu ul li#sub{
    font-size: 30px;
    text-align: center;
}
div.Menu ul li#Title{
    font-size: 70px;
}
div.Header div.MenuButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0px;
    right:0px;
}
i.fas.fa-window-close{
    opacity: 200%;
    color: #56d7e9;
    font-size: 50px;
    position: absolute;
    top:0px;
    right:0px;
}
i.fas.fa-window-close:hover{
    opacity: 200%;
    color: #1e49e1;
    animation:example;
    animation-duration: 2s;
}
.fas.fa-bars{
    color: #56d7e9;
    font-size: 50px;
    overflow: hidden;
    z-index: 2;
}
.fas.fa-bars:hover{
    color: #1e49e1;
    animation:example;
    animation-duration: 2s;
    overflow: hidden;
}
@keyframes example {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
  }
div.Header div.MenuButton2{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0px;
    right:0px;
}
/* Header */
div.Header{
    width:100%;
    height:10%;
    overflow: hidden;
}
div.Header div.Title{
        width:50%;
        height: 100%;
        text-align: center;
}
div.Header div.Title a{
    color:White;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
    position: relative;
}

/* Content */
div.Content{
    width:100%;
    height:80%;
    overflow:scroll;
    overflow-x : hidden;
}

/* Footer */
div.Footer{
    width:100%;
    height: 10%;
    text-align: center;
}
div.Footer a{
    font-size: 1vw;
    color:white;
}