div.Content div.Banner{
    background-color: black;
    width:100%;
    height: 30%;
}
div.Content div.Banner{
    text-align: center;
}
div.Content a{
    color:white;
    position: relative;
    float:left;
    margin-top:-20vh;
    left:10vw;   
    font-size: 8vw;
    font-family: 'Courier New', Courier, monospace;
}
div.Content div.About{
    width:100%;
    height:100vh;
}
div.Content div.About h1{
    color:white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 7vh;
    left: 5vw;
}
div.Content div.About h2{
    color:white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 5vh;
    left:6vw;
}
div.Content div.About p{
    position: relative;
    left: 6vw;
    color:white;
    font-family: 'Roboto' , sans-serif;
    font-size: 3vh;
}
div.Content div.About ul{
    position: relative;
    left:6vw;
    color:white;
    font-family: 'Robot',sans-serif;
    font-size: 3vh;
}
div.Content div.About p a{
    all:initial;
    position: relative;
    color:white;
    font-family: 'Robot',sans-serif;
    font-size: 3vh;
}